// .content {
//   z-index: 12;

//   .clase {
//     color: blue;
//   }

//   .iconBtnCarrito {
//     spam {
//       color: red;
//     }
//   }
//   .p-relative {
//     position: relative;
//   }
// }

.clase {
  color: blue;
}

.iconBtnCarrito {
  spam {
    color: red;
  }
}
.p-relative {
  position: relative;
}
