.card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem 1rem;
}

.textLeft {
  text-align: left;
  left: 20px;
}

.buttonsCenter {
  text-align: center;
}

.iconShoppingCart {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 15px;
  top: -10px;
  font-size: 35px;
  color: #2d44e6;
}

.iconShoppingCart svg {
  width: 32px;
  height: 32px;
}

.cardCamiseta {
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mt11px {
  margin-top: 11px;
}

.m5px23px {
  /* margin: -25px 23px; */
  margin: -5px 23px;
}

.addShoppingCart {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 11px;
  top: 347px;
  font-size: 14px;
}

.mt26px {
  margin-top: 26px;
}

.agregarCarrito {
  font-size: 12px;
}

.agregarCarrito svg {
  font-size: 18px;
}

.seguirComprando {
  font-size: 14px;
}

.clase {
  color: blue;
}

.claseT {
  color: rgba(38, 238, 98, 0.712);
}

.classCol4 {
  position: relative;
}

.botonCancelar {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 30px;
  top: 10px;
  font-size: 35px;
}

.botonCancelar svg {
  width: 32px;
  height: 32px;
}

.botonIniciarSesion {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 30px;
  top: 10px;
  font-size: 35px;
}

.botonIniciarSesion svg {
  width: 32px;
  height: 32px;
}

.botonCerrarSesion {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 30px;
  top: 42px;
  font-size: 35px;
}

.botonCerrarSesion svg {
  width: 32px;
  height: 32px;
}

.botonRegistrarCamiseta {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  left: 117px;
  top: 42px;
  font-size: 35px;
}

.botonRegistrarCamiseta svg {
  width: 32px;
  height: 32px;
}

.formularioCamisetas {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 2rem 4rem;
  margin-top: 26px;
  text-align: center;
}

.tablaCarrito {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 2rem 4rem;
  margin-top: 115px;
  text-align: center;
}

.bannerCover {
  background-image: url(./imgs/banner-large.jpg);
  height: 67vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  left: 30px;
  color: #080808;
}

.bannerSecond {
  background-position: center top;
  background-size: cover;
}

.bannerContainer {
  background-image: url(./imgs/banner-second.jpg);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #080808;
}

.banner {
  padding-top: 0;
}
/*# sourceMappingURL=camisetas.module.css.map */