.card {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  // img {
  //   width: 336px;
  // }
}

.textLeft {
  text-align: left;
  left: 20px;
}

.buttonsCenter {
  text-align: center;
}

.iconShoppingCart {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 15px;
  top: -10px;
  font-size: 35px;
  color: #2d44e6;
  svg {
    width: 32px;
    height: 32px;
  }
}
.cardCamiseta {
  position: relative;
}
.flex {
  display: flex;
}
.mt11px {
  margin-top: 11px;
}
.m5px23px {
  /* margin: -25px 23px; */
  margin: -5px 23px;
}
.addShoppingCart {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 11px;
  top: 347px;
  font-size: 14px;
}
.mt26px {
  margin-top: 26px;
}
.agregarCarrito {
  font-size: 12px;
  svg {
    font-size: 18px;
  }
}

.seguirComprando {
  font-size: 14px;
}

.clase {
  color: blue;
}

.claseT {
  color: rgba(38, 238, 98, 0.712);
}

.classCol4 {
  // flex: 0 0 auto;
  // width: 33.33333333%;
  position: relative;
}
