.card {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.cardIntro {
  text-align: left;
  left: 20px;
  margin-top: -5px;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.cardCarrito {
  margin-top: 160px;
}

.textLeft {
  text-align: left;
  left: 20px;
}

.buttonsCenter {
  text-align: center;
}

.iconShoppingCart {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 15px;
  top: -10px;
  font-size: 35px;
  color: #2d44e6;
  svg {
    width: 32px;
    height: 32px;
  }
}

.cardCamiseta {
  position: relative;
}

.flex {
  display: flex;
}

.unidadesDeseadas {
  margin: 21px 1px;
}

.contentUnidadesDeseadas {
  border: 1px solid #333;
}

.contentBtnsMasMenos {
  margin: -5px 18px;
}
.contentBtnsMas {
  cursor: pointer;
  border: 1px solid #333;
  width: 17px;
  height: 17px;
}

.btnMas {
  margin: -5px 0px 0px 2px;
}

.btnMenos {
  margin: -5px 0px 0px 4px;
}

.contentBtnsMenos {
  cursor: pointer;
  border: 1px solid #333;
  width: 17px;
  height: 17px;
}

.mt11px {
  margin-top: 11px;
}

.m5px23px {
  /* margin: -25px 23px; */
  margin: -5px 23px;
}

.addShoppingCart {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 11px;
  top: 347px;
  font-size: 14px;
}

.mt26px {
  margin-top: -5px;
}

.agregarCarrito {
  font-size: 12px;
  svg {
    font-size: 18px;
  }
}

.seguirComprando {
  font-size: 14px;
}

.clase {
  color: blue;
}

.claseT {
  color: rgba(38, 238, 98, 0.712);
}

.classCol4 {
  // flex: 0 0 auto;
  // width: 33.33333333%;
  position: relative;
}

.botonCancelar {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 30px;
  top: 10px;
  font-size: 35px;
  svg {
    width: 32px;
    height: 32px;
  }
}

.botonIniciarSesion {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 30px;
  top: 10px;
  font-size: 35px;
  svg {
    width: 32px;
    height: 32px;
  }
}

.botonCerrarSesion {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  right: 30px;
  top: 42px;
  font-size: 35px;
  svg {
    width: 32px;
    height: 32px;
  }
}

.botonRegistrarCamiseta {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  left: 117px;
  top: 42px;
  font-size: 35px;
  svg {
    width: 32px;
    height: 32px;
  }
}

.formularioCamisetas {
  flex: 1 1 auto;
  padding: 2rem 4rem;
  margin-top: 26px;
  text-align: center;
}

.tablaCarrito {
  flex: 1 1 auto;
  padding: 2rem 4rem;
  margin-top: 115px;
  text-align: center;
}

.bannerCover {
  background-image: url(./imgs/banner-large.jpg);
  height: 67vh;
  // height: 100%;
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  left: 30px;
  color: #080808;
}

.bannerSecond {
  background-position: center top;
  background-size: cover;
}

.bannerContainer {
  background-image: url(./imgs/banner-second.jpg);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #080808;
}

.banner {
  padding-top: 0;
}
